// colors
$primary: #000;
$secondary: #6c63ff;
$white: #fff;
$grey: #c4c4c4;
$indigo: #ebebf2;

/* fontsizes */
$default-font-sm: 1rem;
$default-font-mid: 1.6rem;
$default-font-lg: 1.8rem;

$default-font-family: "Inter", sans-serif;

$thin-grey-border: 1px solid #c1bbbb;
