@import "../../sass/main.scss";

.button {
  height: 4.2rem;
  width: 100%;
  background: $secondary;
  border: 1px solid $secondary;
  box-sizing: border-box;
  border-radius: 9px;
  cursor: pointer;
  color: $white;
  font-weight: normal;
  font-family: $default-font-family;
  font-size: 17px;
  line-height: 21px;
  transition: transform 0.3s ease;

  @include sm {
    height: 38px;
  }

  &:hover,
  &:focus {
    transform: translateY(-4px);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  @include flexmiddle;

  svg {
    margin-right: 6px;
  }

  &.outline {
    color: $secondary;
    background: $white;
    border-color: $secondary;
  }

  &.loading {
    pointer-events: none;

    svg {
      animation: rotate 0.6s linear infinite;
      color: $white;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
