@import "../../sass/main.scss";

.container {
  height: 100vh;
  width: 100%;
  background: url("../../assets/map.png") no-repeat;
  background-size: cover;

  &.noBg {
    // background: $white;
  }
}

.headerContainer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: $primary;
  margin-top: 10%;

  h1 {
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 5rem;

    @include sm {
      margin-bottom: 3rem;
    }
  }

  @include sm {
    text-align: left;
  }
}

.buttonContainer {
  width: 34rem;
  margin: 0 auto;
  margin-top: 8rem;

  @include sm {
    margin: 0;
    margin-top: 3rem;
    width: 100%;
  }

  display: flex;

  @include sm {
    flex-direction: column-reverse;
  }

  & > button {
    margin-bottom: 2.5rem;

    &:not(:last-of-type) {
      margin-right: 2.5rem;
    }
  }
}

.stepsContainer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 2rem;


  form {
    max-width: 500px;
    margin: 0 auto;
  }
}

.success {
  width: 90%;
  max-width: 1000px;
  margin-top: 10%;

  margin: 0 auto;
  @include flexmiddle;
  flex-direction: column;

  img {
    width: 40%;
    height: auto;
    opacity: 0.8;
    margin: 4rem 0 2rem 0;
  }

  p {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
  }

  @include sm {
    img {
      width: 70%;
      height: auto;
      opacity: 0.8;
      margin: 4rem 0 2rem 0;
    }
  }
}
