@import "../../sass/main.scss";

.container {
  border: none;

  label {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 16px;

    & .required {
      color: red !important;
    }
  }

  .selectContainer {
    margin-top: 8px;

    .reactSelectContainer {
      font-family: $default-font-family;
      font-size: 14px;
      line-height: 1.5;
      color: $primary;
      transition: border-color ease 0.3s;
    }
  }
}
