@import "../../sass/main.scss";

nav {
  width: 93%;
  margin: 0 auto;
  padding-top: 2.4rem;

  color: $secondary;
  @include flexspacebtw;

  svg {
    width: 70px;
    height: auto;

    @include sm {
      width: 50px;
    }
  }

  ul {
    display: flex;
    li {
      font-weight: normal;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: 2.8rem;
      }
    }
  }

  a {
    color: $secondary;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}
